.construction {
  /* background-color: rgb(242, 164, 157); */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;

  color: white;
}

.construction__image {
  width: 500px;
  height: 500px;
}

.contruction__contact {
  color: white;
  font-family: 'Open Sans';
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  position: absolute;
  bottom: 24px;
}

.contruction__channel:not(:first-of-type)::before {
  content: ' | ';
}

.construction__email {
  text-decoration: none;
  color: white;
}

.construction__title {
  font-family: 'Dr Sugiyama';
  font-size: 72px;
  width: 270px;
  text-align: center;
  line-height: 1.3;
}

.construction__subtitle {
  margin-top: 24px;
  text-transform: uppercase;
  font-family: 'Open Sans';
  text-align: center;
  font-size: 12px;
  font-weight: 100;
}