@import '../templates/sofiapro.scss';
@import '../../scss/variables.scss';

html, body{
    font-size: 16px;
    font-family: $font-family-sans-serif;
    background: url('../../views/templates/photopainter/bg.jpeg');
}


.container {
    max-width: 1440px;
    padding: 0px;
}

.painter-navigation {
    position: sticky;
    top: 0;
    z-index: 1020;
    width: 100%;
}

.painter-nav__link {
    font-weight: lighter;
}

.painter-title__main {
    font-size: $font-size-painter-lg;
    padding: 10px;
    color: $painter-h1;
}

.painter-title__concact {
    color: $painter-secondary-color;
}

.painter-screen__main {
    border-bottom: $painter-border;
    margin-top: 20px;
}

.painter-title__skills {
    padding: 30px;
}

.painter-content__show {
    width: 500px;
    height: 500px;
    position: relative;
    left: 60px;
}

.footer-title {
    color: $painter-secondary-color;
}

.show-container {
    background: black;
}