@font-face {
    font-family: 'Sofia Pro-black';
    src: url('fonts/SofiaPro-Black.eot');
    src: url('fonts/SofiaPro-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/SofiaPro-Black.woff2') format('woff2'),
        url('fonts/SofiaPro-Black.woff') format('woff'),
        url('fonts/SofiaPro-Black.ttf') format('truetype'),
        url('fonts/SofiaPro-Black.svg#SofiaPro-Black') format('svg');
}

@font-face {
    font-family: 'Sofia Pro-light';
    src: url('fonts/SofiaPro-Light.eot');
    src: url('fonts/SofiaPro-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/SofiaPro-Light.woff2') format('woff2'),
        url('fonts/SofiaPro-Light.woff') format('woff'),
        url('fonts/SofiaPro-Light.ttf') format('truetype'),
        url('fonts/SofiaPro-Light.svg#SofiaPro-Light') format('svg');
}

@font-face {
    font-family: 'Sofia Pro-bold';
    src: url('fonts/SofiaPro-Bold.eot');
    src: url('fonts/SofiaPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/SofiaPro-Bold.woff2') format('woff2'),
        url('fonts/SofiaPro-Bold.woff') format('woff'),
        url('fonts/SofiaPro-Bold.ttf') format('truetype'),
        url('fonts/SofiaPro-Bold.svg#SofiaPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

.container {
    max-width: 1440px;
    padding: 0px;
}

.pyxis-nav {
    position: relative;
    height: 56px;
    width: 100%;
    left: 0px;
    padding-left: 88px;
    border-bottom: 1px solid gray;
}

.pyxis-nav__navbar {
    width: 302px;
    height: 28px;
}

.pyxis-nav__item a {
    font-family: 'Sofia Pro-light';
    font-size:12px;
    color:#000000;
    letter-spacing:0;
    text-align:left;
}

.pyxis-nav__brand {
    font-family: 'Sofia Pro-black';
    font-size:28px;
    color:#000000;
    letter-spacing:0;
    text-align:left;
}

.pyxis-nav__cart {
    height: 28px;
}

.pyxis-nav__textcart {
    font-family: 'Sofia Pro-Bold';
    font-size:12px;
    color:#000000;;
    letter-spacing:0;
    text-align:center;
    font-weight: bold;
}
