@import '../templates/sofiapro.scss';
@import '../../scss/variables.scss';

.container {
    max-width: 1440px;
    padding: 0px;
}
html {
    font-size: 16px;
    font-family: $font-family-sans-serif;
}

body {
    background-color: #E6ECF8;
}

// MENU

.pyxis-nav {
    position: relative;
    height: $menu-height;
    width: 100%;
    border-bottom: $border;
}

.pyxis-nav__link {
    color: $font-color;
    font-weight: lighter;
    font-size: $font-size-sm;
}

.pyxis-nav__brand {
    color: $font-color;
    font-weight: bold;
    font-size: $font-size-logo;
}

.pyxis-nav__cart {
    height: $cart-height;
    border: $border;
    border-radius: 0px;
}

.pyxis-nav__textcart {
    color: $font-color;
    font-weight: bolder;
    font-size: $font-size-sm;
}

// ARIA CURRENT

.pyxis-nav__breadlink {
    color: $secondary-color;
    font-size: $font-size-sm;
}

// CONTENT

.pyxis-content__mediatitle {
    font-size: $font-size-lg;
    font-weight: bold;
}

.pyxis-content__mediadescription {
    font-weight: 100;
    font-size: $font-size-desc;
}

.sizes {
    font-weight: bold;
    font-size: $font-size-sm;
}

.available {
    font-weight: lighter;
    font-size: $font-size-sm;
}

.pyxis-content__number, .pyxis-content__cart {
    border: $border;
    border-radius: 0px;
    font-size: $font-size-md;
}

.pyxis-options {
    font-size: $font-size-md-sm;
}

.content-container {
    border-bottom: $border;
}

// FOOTER

.pyxis-footer__item {
    font-weight: lighter;
    font-size: $font-size-sm;
}

.pyxis-footer__title {
    font-weight: lighter;
    font-size: $font-size-md-sm;
}

.pyxis-footer__link {
    font-weight: bold;
    font-size: $font-size-md;
}

