@font-face {
    $sofia-pro-black: 'Sofia Pro-black' #000000;
    src: url('fonts/PSofiaPro-Black.eot');
    src: url('fonts/SofiaPro-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/SofiaPro-Black.woff2') format('woff2'),
        url('fonts/SofiaPro-Black.woff') format('woff'),
        url('fonts/SofiaPro-Black.ttf') format('truetype'),
        url('fonts/SofiaPro-Black.svg#SofiaPro-Black') format('svg');
}

@font-face {
    $sofia-pro-light: 'Sofia Pro-light' #000000;
    src: url('fonts/SofiaPro-Light.eot');
    src: url('fonts/SofiaPro-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/SofiaPro-Light.woff2') format('woff2'),
        url('fonts/SofiaPro-Light.woff') format('woff'),
        url('fonts/SofiaPro-Light.ttf') format('truetype'),
        url('fonts/SofiaPro-Light.svg#SofiaPro-Light') format('svg');
}

@font-face {
    $sofia-pro-bold:'Sofia Pro-bold' #000000;
    src: url('fonts/SofiaPro-Bold.eot');
    src: url('fonts/SofiaPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/SofiaPro-Bold.woff2') format('woff2'),
        url('fonts/SofiaPro-Bold.woff') format('woff'),
        url('fonts/SofiaPro-Bold.ttf') format('truetype'),
        url('fonts/SofiaPro-Bold.svg#SofiaPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}