$font-family-sans-serif: 'Sofia Pro';
$font-size-base: 1rem; // default 16px
$font-size-logo: $font-size-base * 1.75; //28
$font-size-sm: $font-size-base * 0.75; //12
$font-size-lg: $font-size-base * 1.5; //24
$font-size-md: $font-size-base * 1; //16
$font-size-desc: $font-size-base * 0.875; //14
$font-size-md-sm: $font-size-base * 1.125; //18

$font-color: #000000;
$secondary-color: #4a4a4a;

$border: 1px solid $secondary-color;

$cart-height: 28px;
$menu-height: 56px;