
// SHOP
$font-family-sans-serif: 'Sofia Pro';
$font-size-base: 1rem; // default 16px
$font-size-lg: $font-size-base * 1.75;
$font-size-sm: $font-size-base * 0.75;

$font-color: #000000;
$secondary-color: #4a4a4a;

$border: 1px solid $secondary-color;

$cart-height: 28px;
$menu-height: 56px;

// PAINTER
$painter-border: 1px solid #808000;
$font-size-painter-lg: $font-size-base * 5;
$painter-primary-color: #1a0000;
$painter-secondary-color: #808000;
$painter-h1: #FFFAFA;
