$font-family-sans-serif: 'Sofia Pro';
$font-size-base: 1rem; // default 16px
$font-size-lg: $font-size-base * 1.75;
$font-size-sm: $font-size-base * 0.75;

$font-color: #000000;
$secondary-color: #4a4a4a;

$border: 1px solid $secondary-color;

$cart-height: 28px;
$menu-height: 56px;